spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/riyvitxgt/config-repo
server:
  port: 12001
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7000/eureka