spring:
  application:
    name: eureka-server
server:
  port: 7000
eureka:
  instance:
    hostname: localhost
  client:
    #是否将自己注册到eureka server,默认为true
    register-with-eureka: true
    #是否从eureka server获取注册信息,默认为true
    fetch-registry: true
    service-url:
      #与eureka server交互的地址，查询服务和注册服务都需要使用这个地址。默认是http://localhost:8761/eureka,多个地址可以使用英文逗号(,)分隔
      defaultZone: http://peer1:7001/eureka/,http://peer2:7002/eureka/